<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">
        <div class="card sombra rounded bg-light">
            <div class=" font-style card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <div th:object="${cliente}" th:remove="tag">
                    <ul class="alert-danger" th:if="${#fields.hasErrors('*')}">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form  th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label "><strong>Nombre:</strong></label>
                        <div class="col-sm-6 my-2">
                            <input class="form-control" type="text" th:field="*{nombre}" th:errorclass="'form-control alert-danger'"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><strong>Apellido:</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" th:field="*{apellido}" th:errorclass="'form-control alert-danger'"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><strong>Correo:</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" th:field="*{email}" th:errorclass="'form-control alert-danger'"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><strong>Fecha:</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" th:field="*{createAt}" th:errorclass="'form-control alert-danger'"/>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"><strong>Foto:</strong></label>
                        <div class="col-sm-6">
                            <input class="form-control" type="file" name="file"/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-sm-6">
                            <input class="btn btn-primary" type="submit" value="Guaradar cliente"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>